<div class="card container form-container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <h1>New proposal</h1>
    <form (ngSubmit)="createProposal(proposal)" #proposalForm="ngForm">
      <div class="form-group">
        <label for="customer">Customer name: </label>
        <input type="text"
                class="form-control"
                id="customer"
                placeholder="ABC Company"
                required
                name="customer"
                #customer='ngModel'
                [(ngModel)]="proposal.customer"
        >
      </div>
      <div [hidden]="customer.valid || customer.pristine"
      class="alert alert-danger">
        Customer name is required.
      </div>
      <div class="form-group">
        <label for="portfolio_url">Portfolio URL: </label>
        <input type="text"
                class="form-control"
                id="portfolio_url"
                placeholder="google.com"
                required
                name="portfolio_url"
                #portfolio_url='ngModel'
                [(ngModel)]="proposal.portfolio_url"
        >
      </div>
      <div [hidden]="portfolio_url.valid || portfolio_url.pristine"
      class="alert alert-danger">
        A portfolio URL is required.
      </div>
      <div class="form-group">
        <label for="tools">Tools: </label>
        <input type="text"
                class="form-control"
                id="tools"
                placeholder="Angular 2"
                required
                name="tools"
                #tools='ngModel'
                [(ngModel)]="proposal.tools"
        >
      </div>
      <div [hidden]="tools.valid || tools.pristine"
      class="alert alert-danger">
        A list of tools is required.
      </div>
      <div class="form-group">
        <label for="estimated_hours">Estimated hours: </label>
        <input type="number"
                class="form-control"
                id="estimated_hours"              
                required
                name="estimated_hours"
                #estimated_hours='ngModel'
                [(ngModel)]="proposal.estimated_hours"
        >
      </div>
      <div [hidden]="estimated_hours.valid || estimated_hours.pristine"
      class="alert alert-danger">
        The estimated hours is required.
      </div>
      <div class="form-group">
        <label for="hourly_rate">Hourly rate: </label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="number"
                class="form-control"
                id="hourly_rate"              
                required
                name="hourly_rate"
                #hourly_rate='ngModel'
                [(ngModel)]="proposal.hourly_rate"
          >
        </div>
      </div>
      <div [hidden]="hourly_rate.valid || hourly_rate.pristine"
      class="alert alert-danger">
        Your hourly rate is required.
      </div>
      <div class="form-group">
        <label for="weeks_to_complete">Weeks to complete the project: </label>
        <input type="number"
                class="form-control"
                id="weeks_to_complete"              
                required
                name="weeks_to_complete"
                #weeks_to_complete='ngModel'
                [(ngModel)]="proposal.weeks_to_complete"
        >
      </div>
      <div [hidden]="weeks_to_complete.valid || weeks_to_complete.pristine"
      class="alert alert-danger">
        The number of weeks to complete the project is required.
      </div>
      <div class="form-group">
        <label for="client_email">Client email: </label>
        <input type="email"
                class="form-control"
                id="client_email"                              
                name="client_email"
                #client_email='ngModel'
                [(ngModel)]="proposal.client_email"
        >
      </div>

      <button type="submit"
              class="btn btn-outline-primary btn-lg"
              [disabled]="!proposalForm.form.valid"
              [hidden]="submitted"
      >
        Generate Proposal
      </button>      
      
      <div
        class="alert alert-success"
        role="alert"
        [hidden]="!submitted"
      >
        Your proposal has been generated <a class="alert-link" routerLink="/proposals">View all proposals</a>
      </div>
    </form>
  </div>

    </div>
    <div class="col-md-6">
      
      <p>Hi {{ proposal.customer }},</p>

      <p>It was a pleasure getting to meet with you and review your project requirements. I believe it is a great fit for the typoes of applications that I build. Please feel free to check out some of my past projects <a href="{{ proposal.portfolio_url }}">here</a>.</p>
      
      <p>To successfully build out the application I will be utilizing {{ proposal.tools }}, and a number of other tools to ensure that the project follows industry-wide practices.</p>
      
      <p>Ensuring that you are properly informed is one of my top priorities, so in addition to incorporating everything that we discussed, I will also be creating a project management dashboard and sending you a project update message daily, so that you can have a transparent view of the development as it takes place.</p>
      
      <p>To accomplish the project and meet the requirements that we discussed, I am estimating that it will take {{ proposal.estimated_hours }} hours in development time to complete. The project should take {{ proposal.weeks_to_complete }} weeks to complete and with my hourly rate of {{ proposal.hourly_rate }}/hour, the estimated total will be {{ proposal.hourly_rate * proposal.estimated_hours | currency:'USD':true:'.0' }}.</p>
      
      <p>The next step from here is to set up a meeting to finalize the project and sign contracts.</p>
      
      <p>I am excited to be working with you and to build this project!</p>
  
    </div>
  </div>   
  
</div>